@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Surybai", "Profile", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@




        <li class="btn-group">
            <div style="line-height:20px; display:block; color:#999;padding-top:15px; padding-bottom: 15px" class="upFont dropdown-toggle" data-toggle="dropdown">
                Surybai  <span class="caret"></span>
            </div>

            <ul class="dropdown-menu">
                <li>@Html.ActionLink("My Wardrobe", "Profile", "Home")</li>
                <li>@Html.ActionLink("Friends", "Index", "Home")</li>
                <li>@Html.ActionLink("Settings", "Index", "Home")</li>
            </ul>

        </li>
        <li class="upFont">@Html.ActionLink("Log out", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
}
